#header {
    position: absolute;
    color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    background-color: transparent;
    font-size: 18px;
    top: 0;
    z-index: 999;
    transition-duration: 0.3s;

    .name {
        font-size: 24px;
        font-weight: bold;
        padding-left: 50px;
        text-decoration: none;
        color: white;
    }

    .pages {
        font-weight: 600;
        width: 400px;
        display: flex;
        justify-content: space-around;
        padding-right: 50px;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .link {
        cursor: pointer;
        color: white;
        text-decoration: none;
    }

    .bars {
        display: none;
        color: #ffffff;

        @media screen and (max-width: 760px) {
            display: block !important;
            position: absolute;
            top: -15px;
            right: 0px;
            transform: translate(-100%, 75%);
            font-size: 1.8rem;
            cursor: pointer;
        }
    }

}

.navbar-active {
    background: linear-gradient(94.07deg, rgba(0, 119, 182, 0.95) 0%, rgba(1, 58, 117, 0.95) 52.08%, rgba(1, 2, 58, 0.95) 100%) !important;
}